@using DataAccess.Models.Authentication
@model RegisterPageModel
@{
    ViewData["Title"] = "Register";
}

<div class="container justify-content-center align-items-center w-25 mt-5">
    <div class="text-center">
        <h2>Create account</h2>
    </div>
    <form method="post">
        <div class="mt-2">
            <label class="form-label" asp-for="EmailAddress"></label>
            <input type="email" class="form-control" asp-for="EmailAddress" />
            <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        <div class="mt-2">
            <label asp-for="Password" class="form-label"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div class="mt-2">
        <div class="mt-2">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input type="password" asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="text-center mt-3">
            <button type="submit">Register</button>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger mt-2 asp-summary-validation"></div>
    </form>
    <div>
        <h3>No account? <a asp-controller="Home" asp-action="Register">Create account</a></h3>
    </div>
</div>