:root {
    --bg-color: #FAFBFD;
    --primary-color: #FFFFFF;
    --border-color: #D0D9E7;
}
/*=========================
    GENERAL
===========================*/
html {
    font-size: 14px;
    height: 100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body{
    display: flex;
    height: 100%;
    overflow:hidden;
}

li{
    list-style: none;
}

button{
    all: unset;
    border: 1px solid;
    border-color:#D0D9E7;
    padding: 0.3rem 16px 0.3rem 16px;
    font-weight:600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 14px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: white;
    color: black;
    text-align: center;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.asp-summary-validation ul{
    list-style-type: none;
    padding-left:0;
}
/*=========================
    SIDEBAR
===========================*/
#sidebar {
    position: relative;
    width: 280px;
    background-color: var(--bg-color);
    border-right: 1px solid var(--border-color);
    font-weight: 600;
    font-size: 16px;
    transition: transform 0.3s ease;
    overflow-y: auto;
}

.sidebar-open {
    transform: translateX(0);
}

.sidebar-closed{
    transform:translateX(-100%);
    display: none;
}

.sidebar-top {
    display: flex;
    padding: 10px 20px 10px 20px;
    align-items: center;
}

.logo{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.logo i{
    margin-left: 15px;
}

/*=========================
    GENERAL
===========================*/
#content {
    flex-grow: 1;
    background-color: var(--bg-color);
    overflow-y: auto;
    overflow-x: hidden;
}

/*=============================
    TOPBAR
=============================*/
#topbar{
    height:80px;
    background-color: var(--bg-color);
    padding: 10px 32px 10px 32px;
}
#topbar h3{
    margin: 0;
}
.breadcrumbs{
    display:flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumbs li::before{
    content:"/";
    margin: 0 2px 0 5px;
}

.topbar-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/*=============================
    FORM
=============================*/
.section {
    background-color: var(--primary-color);
    margin: 10px 32px 10px 32px;
    padding: 15px 15px 15px 15px;
    border: var(--border-color) solid 1px;
}

.form-buttons-list{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*=============================
    MODAL
=============================*/
.modal-style {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: white;
    z-index: 1000;
}

.modal-topbar {
    display: flex;
    justify-content:space-between;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.overlay.active {
    display: block;
}

.icon{
    visibility:hidden;
    margin-right:10px;
}

.table-row:hover .icon{
    visibility: visible;
    cursor:pointer;
}

.icon-cell {
    text-align: center; 
    width: 100px;
}

/*RESPONSIVE*/
@media(max-width: 575px) {
    .modal-style {
        width: 100%;
    }
}

@media(min-width: 575px) {
    .modal-style {
        width: 434px;
    }
}

@media(min-width: 990px) {
    .modal-style {
        width: 798px;
    }
}
